!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Monokai Coding Co
     -#CSS
    %link{href: "http://fonts.googleapis.com/css?family=Oleo+Script", rel: "stylesheet"}/
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=PT+Mono", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "assets/font-awesome/css/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "assets/styles/form-elements.css", rel: "stylesheet"}/
    %link{href: "assets/styles/buttons.css", rel: "stylesheet"}/
    %link{href: "assets/ultimate-flat-social-icons/ultm-css/ultm.css", rel: "stylesheet"}/
    %link{href: "assets/styles/style.css", rel: "stylesheet"}/
    %link{href: "assets/styles/media-queries.css", rel: "stylesheet"}/
    -#/ HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    -#/ WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    / Favicon and touch icons
    %link{href: "assets/ico/favicon.png", rel: "shortcut icon"}/
    %link{href: "assets/ico/apple-touch-icon-144-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "144x144"}/
    %link{href: "assets/ico/apple-touch-icon-114-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "114x114"}/
    %link{href: "assets/ico/apple-touch-icon-72-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "72x72"}/
    %link{href: "assets/ico/apple-touch-icon-57-precomposed.png", rel: "apple-touch-icon-precomposed"}/
  %body
    -#/ Top menu
    %nav
      %a.menu-top{href: ""} Top
      %a.menu-features{href: ""} The Work
      %a.menu-about-us{href: ""} The Story
      %a.menu-contact{href: ""} The Contact
      .hide-menu
        %a{"data-original-title" => "Hide menu", "data-placement" => "bottom", href: "", rel: "tooltip"}
          %i.fa.fa-bars
    .show-menu
      %a{"data-original-title" => "Show menu", "data-placement" => "bottom", href: "", rel: "tooltip"}
        %i.fa.fa-bars
    -#/ Top content
    .top-content
      .inner-bg
        .container
          .row
            -#/ <div class="col-sm-5 phone">
            -#/ <img src="assets/img/iphone-1.png" alt="">
            -#/ </div>
            .col-sm-12.text
              .logo
                %h1
                  %a{href: ""}
              .top-arrow
                %i.fa.fa-chevron-down
    -#/ Features
    .features-container
      .container
        .row
          .col-sm-12.features
            %h3 Main features
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        .row
          .col-sm-4.features-box-1
            .features-box-1-icon
              %i.fa.fa-eye
            %h4 Easy To Use
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et.
          .col-sm-4.features-box-1
            .features-box-1-icon
              %i.fa.fa-table
            %h4 Responsive Layout
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et.
          .col-sm-4.features-box-1
            .features-box-1-icon
              %i.fa.fa-pencil
            %h4 Flat Design
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et.
    -#/ Who's behind this
    .whos-behind-container
      .container
        .row
          .col-sm-12.whos-behind
            %h3 Who's behind this
            %p
              Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
              lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam.
        .row
          .col-sm-4.whos-behind-box-1
            .whos-behind-photo
              %img{alt: "", src: "assets/img/team/1.jpg"}/
              .whos-behind-social
                %a{href: ""}
                  %i.fa.fa-facebook
                %a{href: ""}
                  %i.fa.fa-twitter
                %a{href: ""}
                  %i.fa.fa-linkedin
                %a{href: ""}
                  %i.fa.fa-envelope
            %h4 John Doe
            %h5 Developer
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et.
          .col-sm-4.whos-behind-box-1
            .whos-behind-photo
              %img{alt: "", src: "assets/img/team/2.jpg"}/
              .whos-behind-social
                %a{href: ""}
                  %i.fa.fa-facebook
                %a{href: ""}
                  %i.fa.fa-twitter
                %a{href: ""}
                  %i.fa.fa-linkedin
                %a{href: ""}
                  %i.fa.fa-envelope
            %h4 Tim Brown
            %h5 Founder
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et.
          .col-sm-4.whos-behind-box-1
            .whos-behind-photo
              %img{alt: "", src: "assets/img/team/3.jpg"}/
              .whos-behind-social
                %a{href: ""}
                  %i.fa.fa-facebook
                %a{href: ""}
                  %i.fa.fa-twitter
                %a{href: ""}
                  %i.fa.fa-linkedin
                %a{href: ""}
                  %i.fa.fa-envelope
            %h4 Sarah Red
            %h5 Designer
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et.
        -#/ Latest tweets
        .row
          .col-sm-12.latest-tweets
            %h4 Our Latest Tweets
            %p.tweet-active
            .tweets
    -#/ How to contact us
    .container
      .row
        .col-sm-12.contact
          %h3 How to contact us
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      .row
        .col-sm-7.contact-form
          %h4 Send us a message
          %form{action: "assets/contact.php", method: "post", role: "form"}
            .form-group
              %label.sr-only{for: "contact-email"} Email
              %input#contact-email.contact-email{name: "email", placeholder: "Email...", type: "text"}/
            .form-group
              %label.sr-only{for: "contact-subject"} Subject
              %input#contact-subject.contact-subject{name: "subject", placeholder: "Subject...", type: "text"}/
            .form-group
              %label.sr-only{for: "contact-message"} Message
              %textarea#contact-message.contact-message{name: "message", placeholder: "Message..."}
            %button.btn{type: "submit"} Send
        .col-sm-5.contact-address
          %h4 Come visit us
          .map
          %h4 Address
          %p
            %i.fa.fa-map-marker>
            Via Principe Amedeo 9, 10100, Torino, TO, Italy
          %p
            %i.fa.fa-phone>
            Phone: 0039 333 12 68 347
    / Footer
    %footer
      .container
        .row
          .col-sm-7.footer-copyright
            %p
          .col-sm-5.footer-social
            %a.ultm.ultm-facebook.ultm-48.ultm-square.ultm-gray-to-color{href: ""}
            %a.ultm.ultm-twitter.ultm-48.ultm-square.ultm-gray-to-color{href: ""}
            %a.ultm.ultm-google-plus-1.ultm-48.ultm-square.ultm-gray-to-color{href: ""}
            %a.ultm.ultm-dribbble.ultm-48.ultm-square.ultm-gray-to-color{href: ""}
            %a.ultm.ultm-pinterest.ultm-48.ultm-square.ultm-gray-to-color{href: ""}
    -#/ Javascript
    %script{src: "assets/js/jquery-1.11.1.min.js"}
    %script{src: "assets/bootstrap/js/bootstrap.min.js"}
    %script{src: "assets/js/jquery.backstretch.min.js"}
    %script{src: "assets/twitter/jquery.tweet.min.js"}
    %script{src: "http://maps.google.com/maps/api/js?sensor=true"}
    %script{src: "assets/js/jquery.ui.map.min.js"}
    %script{src: "assets/js/retina-1.1.0.min.js"}
    %script{src: "assets/js/scripts.js"}
    -#/[if lt IE 10]
    -#  <script src="assets/js/placeholder.js"></script>
