!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Monokai Coding Company
     -#CSS
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Fugaz+One", rel: "stylesheet"}/
    %link{ rel: "stylesheet", href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity: "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin: "anonymous" }\
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "assets/styles/form-elements.css", rel: "stylesheet"}/
    %link{href: "assets/styles/buttons.css", rel: "stylesheet"}/
    %link{href: "assets/ultimate-flat-social-icons/ultm-css/ultm.css", rel: "stylesheet"}/
    %link{href: "assets/styles/style.css", rel: "stylesheet"}/
    %link{href: "assets/styles/media-queries.css", rel: "stylesheet"}/
    -#/ HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    -#/ WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    / Favicon and touch icons
    %link{href: "apple-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"}
    %link{href: "apple-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"}
    %link{href: "apple-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}
    %link{href: "apple-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"}
    %link{href: "apple-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}
    %link{href: "apple-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"}
    %link{href: "apple-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"}
    %link{href: "apple-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"}
    %link{href: "apple-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180"}
    %link{href: "android-icon-192x192.png", rel: "icon", sizes: "192x192", type: "image/png"}
    %link{href: "favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}
    %link{href: "favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}
    %link{href: "favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}
    %link{href: "manifest.json", rel: "manifest"}
    %meta{content: "#ffffff", name: "msapplication-TileColor"}
    %meta{content: "ms-icon-144x144.png", name: "msapplication-TileImage"}
    %meta{content: "#ffffff", name: "theme-color"}/
  %body
    -#/ Top menu
    %nav
      %a.menu-top{href: ""} Top
      %a.menu-features{href: ""} The Work
      %a.menu-about-us{href: ""} The Story
      %a.menu-contact{href: ""} Talk To Us
      .hide-menu
        %a{"data-original-title" => "Hide menu", "data-placement" => "bottom", href: "", rel: "tooltip"}
          %i.fa.fa-bars
    .show-menu
      %a{"data-original-title" => "Show menu", "data-placement" => "bottom", href: "", rel: "tooltip"}
        %i.fa.fa-bars
    -#/ Top content
    .top-content
      .inner-bg
        .container
          .row
            .col-sm-12.text
              .logo
                %h1
                  %a{href: "#"}
              .top-arrow
                %i.fa.fa-chevron-down
    -#/ Features
    .features-container
      .container
        .row
          .col-sm-12.features
            %h3 The Work
            %p
              We are web development and design specialists.
            %p
              We prize elegance and simplicity over an endless feature set or complicated design. Our designs are minimalistic and modern. Our development efforts aim to expend the most effort towards the features that will be used most.
            %p
              We also focus intensely on agility and speed to remain cost effective. As such, startups and small businesses make ideal clients for us.
        .row
          .col-sm-4.features-box-1
            .features-box-1-icon
              %i.fa.fa-code
            %h4 Development
            %p
              Our team of crack developers know how to build it right. We generally pair Ruby on Rails with AngularJS in our web projects.
          .col-sm-4.features-box-1
            .features-box-1-icon
              %i.fa.fa-table
            %h4 Design
            %p
              We're a one stop shop. We'll help you design it, build the graphics, and even code the website all in one go.
          .col-sm-4.features-box-1
            .features-box-1-icon
              %i.fa.fa-eye
            %h4 User Experience
            %p
              We'll help you develop detailed use cases and business logic to model your users alongside a holistic visual language.
    -#/ The Story
    .whos-behind-container
      .container
        .row
          .col-sm-12.whos-behind
            %h3 The Story
            %p
              We nerds founded Monokai Code Company because we love technology and design. We love picking apart our own work and carefully piecing it back together. We love the sensation of anticipation and pride we feel every time we present our creations to our clients.
            %p
              Building cool things with technology is what we do. We don't outsource our contracts overseas. There are no client managers between you and the people who write the code. If we screw up, we'll just tell you and hope you understand (while we hurry to fix it). That's who we are.
        .row
          .col-sm-4.whos-behind-box-1
            .whos-behind-photo
              %img{alt: "Image of Riaz Virani", src: "assets/img/team/riaz.jpg"}/
              .whos-behind-social
                %a{href: "http://pennyforyourcode.com"}
                  %i.fa.fa-medium
                %a{href: "https://www.linkedin.com/in/riaz-virani-72538a7"}
                  %i.fa.fa-linkedin
                %a{href: "mailto:riaz@monokaicode.co"}
                  %i.fa.fa-envelope
            %h4 Riaz Virani
            %h5 Developer
            %p
              Riaz is our resident development guru. He spends most of his days teaching or pourin' over Ruby on Rails, JavaScript, and iOS code. One day...he will sleep.
          .col-sm-4.whos-behind-box-1
            .whos-behind-photo
              %img{alt: "Picture of Designer Niya Panamdanam", src: "assets/img/team/niya.jpg"}/
              .whos-behind-social
                %a{href: "https://blog.findniya.com"}
                  %i.fa.fa-tumblr
                %a{href: "https://www.linkedin.com/in/niya-panamdanam-93402343"}
                  %i.fa.fa-linkedin
                %a{href: "mailto:niya@monokaicode.co"}
                  %i.fa.fa-envelope
            %h4 Niya Panamdanam
            %h5 Designer
            %p
              Need a website or graphic with some pizzazz? Find Niya. If she's not writing CSS or tinkering in Photoshop, you can find her by the coffee.
          .col-sm-4.whos-behind-box-1
            .whos-behind-photo
              %img{alt: "", src: "assets/img/team/chuck.jpg"}/
              .whos-behind-social
                %a{href: "mailto:sirchuckles@monokaicode.co"}
                  %i.fa.fa-envelope
            %h4 Sir Chuckles
            %h5 Food Inspector
            %p
              The last addition to our team, but certainly not the least, Chuck keeps us all on task. That is, unless he spots a squirrel, bird, or cat.
    -#/ How to contact us
    .container
      .row
        .col-sm-12.contact
          %h3 Talk To Us
          %p
            We've tried to be frank about who we are, what we believe in, and what we know how to do. If we can help with your project (or you just want to say "hello"), we'd love to hear from you.
          %p
            Remember every great relationship began with a moment just like this one, where a great human being dared to click a button...
      .row
        .col-sm-7.contact-form
          %h4 Send us a message
          %form{action: "//formspree.io/riaz@monokaicode.co", method: "post", role: "form"}
            .form-group
              %label.sr-only{for: "contact-email"} Email
              %input#contact-email.contact-email{name: "_replyto", placeholder: "Email...", type: "text"}/
            .form-group
              %label.sr-only{for: "contact-subject"} Name
              %input#contact-subject.contact-subject{name: "name", placeholder: "Your Name...", type: "text"}/
            .form-group
              %label.sr-only{for: "contact-message"} Message
              %textarea#contact-message.contact-message{name: "message", placeholder: "Message..."}
              %input{ type: "text", name: "_gotcha", style: "display:none" }
            %button.btn{type: "submit"} Send
        .col-sm-5.contact-address
          %h4 Come visit us
          %p
            We're based out of the beautiful new Switchyards building in the heart of Atlanta. Come visit!
          .map
          %h4 Address
          %p
            %i.fa.fa-map-marker>
            %a{ href: "https://www.google.com/maps/place/151+Ted+Turner+Dr+NW,+Atlanta,+GA+30303/@33.7586946,-84.3923232,17z/data=!3m1!4b1!4m2!3m1!1s0x88f50478a711a2d5:0x74ea74ff934ff903", target: "_blank" }151 Ted Turner Drive NW, #18, Atlanta, GA 30303
          %p
            %i.fa.fa-phone>
            %a{ href: "tel://1-678-636-9295" } 678.636.9295
          %p
            %i.fa.fa-envelope>
            %a{ href: "mailto:greetings@monokaicode.co" }greetings@monokaicode.co
    -#/ Javascript
    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"}
    %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js",  integrity: "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin: "anonymous" }
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"}
    %script{src: "http://maps.google.com/maps/api/js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-map/3.0-rc1/min/jquery.ui.map.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"}
    %script{src: "assets/js/scripts.js"}
    -#/[if lt IE 10]
    -#  <script src="assets/js/placeholder.js"></script>
