body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 600;
}

a {
  color: #ce749d;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  &:hover, &:focus {
    color: #ce749d;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }
}

h2, h3 {
  margin-top: 10px;
 font-family: 'Fugaz One', cursive;
  font-size: 3em;
  font-weight: 600;
  line-height: 54px;
}

img {
  max-width: 100%;
}

::-moz-selection, ::selection {
  background: #ccc;
  color: #fff;
  text-shadow: none;
}

/***** Top menu *****/

nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background: #CA2462;
  font-size: 18px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  a {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 0;
    color: #fff;
    font-family: "PT Mono", sans-serif;
    &:hover, &:focus {
      color: #fff;
    }
  }
}

.show-menu {
  position: absolute;
  top: -6px;
  right: 100px;
  padding: 0 20px;
  z-index: 999;
  text-align: center;
}

.hide-menu {
  position: absolute;
  top: -6px;
  right: 100px;
  padding: 0 20px;
  z-index: 999;
  text-align: center;
  top: -1px;
}

.show-menu a, .hide-menu a {
  display: none;
  width: 46px;
  height: 48px;
  padding-top: 11px;
  background: #CA2462;
  font-size: 21px;
  color: #fff;
}

.show-menu a:hover, .hide-menu a:hover {
  color: #fff;
}

/***** Top content *****/

.top-content {
  margin: 0 auto;
  text-align: left;
  color: #fff;
}

.inner-bg {
  padding: 120px 0 80px 0;
  background: rgba(255, 255, 255, 0.6);
}

.top-content {
  .phone {
    text-align: center;
  }
  .text {
    padding-top: 50px;
  }
  .logo-svg {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .logo-container:hover .hub-icon {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    -ms-transform: rotate(180deg);
    -ms-transform-origin: 50% 50%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;
  }
  .logo-container .hub-icon {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }

  .description {
    margin: 40px 0 10px 0;
    font-size: 22px;
    line-height: 36px;
  }
  .top-button {
    margin-top: 40px;
    i {
      padding-right: 3px;
      font-size: 28px;
      vertical-align: middle;
    }
  }
  .top-arrow {
    margin-top: 50px;
    font-size: 36px;
    text-align: center;
    i {
      position: relative;
      width: 100px;
      height: 37px;
      overflow: hidden;
      cursor: pointer;
      color: #232323;
      &:before {
        position: absolute;
        top: 0;
        left: 30px;
      }
      &:after {
        content: "scroll";
        position: absolute;
        top: -30px;
        left: 0;
        width: 100px;
       font-family: 'Fugaz One', cursive;
        font-size: 18px;
        font-weight: 300;
      }
      &:before, &:after {
        -o-transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;
      }
      &:hover {
        &:before {
          top: 40px;
        }
        &:after {
          top: 10px;
        }
      }
    }
  }
}

/***** Features *****/

.features-container {
  margin: 0 auto;
  padding-bottom: 60px;
  color: #888;
  text-align: center;
}

.features {
  margin-top: 60px;
  padding-bottom: 10px;
  h3 {
    color: #555;
  }
  p {
    margin-top: 30px;
    padding: 0 120px;
    font-size: 22px;
    line-height: 36px;
  }
}

.features-box-1 {
  margin-top: 30px;
  h4 {
    padding: 10px 0;
    font-size: 30px;
    font-weight: 300;
    color: #555;
    line-height: 34px;
  }
  p {
    font-size: 18px;
    line-height: 32px;
  }
  .features-box-1-icon {
    width: 142px;
    height: 142px;
    margin: 0 auto;
    padding-top: 28px;
    background: #ce749d;
    border: 1px solid #ce749d;
    font-size: 56px;
    color: #fff;
    cursor: pointer;
    -moz-border-radius: 85px;
    -webkit-border-radius: 85px;
    border-radius: 85px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    &:hover {
      background: #fff;
      border: 1px solid #ce749d;
      i {
        color: #ce749d;
      }
    }
  }
}

/***** Single feature *****/

.single-feature-container {
  margin: 0 auto;
  text-align: center;
}

.single-feature-text {
  margin-top: 60px;
  padding-bottom: 10px;
  p {
    margin-top: 30px;
    padding: 0 120px;
    font-size: 22px;
    line-height: 36px;
  }
}

.single-feature-img {
  margin-top: 30px;
}

.single-feature-bg {
  background: #ce749d;
  color: #fff;
}

.single-feature-no-bg {
  color: #888;
  h3 {
    color: #555;
  }
}

/***** Call to action *****/

.call-to-action-container {
  margin: 0 auto;
  padding-bottom: 60px;
  color: #888;
  text-align: center;
}

.call-to-action-text {
  margin-top: 60px;
  padding-bottom: 10px;
  h3 {
    color: #555;
  }
  p {
    margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
  }
}

.call-to-action-button {
  margin-top: 40px;
  i {
    padding-right: 8px;
    font-size: 42px;
    vertical-align: middle;
  }
}

/***** Subscription form *****/

.subscribe-container {
  margin: 0 auto;
  padding-bottom: 50px;
  background: #f5f5f5;
  color: #888;
  text-align: center;
}

.subscribe {
  margin-top: 60px;
  h3 {
    color: #555;
  }
  p {
    margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
  }
  form {
    margin-top: 40px;
    margin-bottom: 20px;
    input {
      width: 362px;
      height: 52px;
    }
    button {
      width: 130px;
      height: 52px;
    }
  }
}

.success-message, .error-message {
  font-size: 22px;
  line-height: 36px;
}

.success-message {
  margin: 20px 0 10px 0;
}

.error-message {
  margin: 10px 0;
  color: #ce749d;
}

/***** Testimonials *****/

.testimonials {
  margin-top: 60px;
  padding-bottom: 70px;
  text-align: center;
  h3 {
   font-family: 'Fugaz One', cursive;
    font-size: 50px;
    font-weight: 400;
    color: #555;
    line-height: 54px;
  }
  p {
    margin-top: 30px;
    font-size: 22px;
    color: #888;
    line-height: 36px;
  }
}

.testimonial-single {
  display: inline-block;
  p {
    display: none;
  }
}

.testimonial-single-image {
  display: inline-block;
  width: 58px;
  margin: 0 5px 10px 5px;
  img {
    width: 100%;
    opacity: 0.5;
    cursor: pointer;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }
}

.testimonial-active {
  padding-bottom: 20px;
}

.testimonial-quote {
  font-family: Georgia, serif;
  font-size: 90px;
  line-height: 70px;
  color: #ccc;
}

/***** Who's behind this *****/

.whos-behind-container {
  margin: 0 auto;
  padding-bottom: 60px;
  background: #ce749d;
  color: #fff;
  text-align: center;
}

.whos-behind {
  margin-top: 60px;
  padding-bottom: 10px;
  h3 {
   font-family: 'Fugaz One', cursive;
    font-size: 50px;
    font-weight: 400;
    line-height: 54px;
  }
  p {
    margin-top: 30px;
    padding: 0 120px;
    font-size: 22px;
    line-height: 36px;
  }
}

.whos-behind-box-1 {
  margin-top: 30px;
  h4 {
    padding: 10px 0 0 0;
    font-size: 30px;
    font-weight: 300;
    line-height: 34px;
  }
  h5 {
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    color: #fff;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    line-height: 32px;
  }
  .whos-behind-photo {
    position: relative;
    width: 142px;
    height: 142px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      -moz-border-radius: 85px;
      -webkit-border-radius: 85px;
      border-radius: 85px;
    }
    .whos-behind-social {
      position: absolute;
      top: -150px;
      left: 0;
      width: 142px;
      height: 142px;
      padding-top: 60px;
      background: #fff;
      opacity: 0;
      -moz-border-radius: 85px;
      -webkit-border-radius: 85px;
      border-radius: 85px;
      -o-transition: all .4s;
      -moz-transition: all .4s;
      -webkit-transition: all .4s;
      -ms-transition: all .4s;
      transition: all .4s;
    }
    &:hover .whos-behind-social {
      top: 0;
      opacity: 1;
    }
    .whos-behind-social {
      font-size: 18px;
      color: #ce749d;
      line-height: 20px;
      a {
        font-size: 18px;
        color: #ce749d;
        line-height: 20px;
        margin: 0 4px;
        &:hover {
          font-size: 18px;
          color: #ce749d;
          line-height: 20px;
        }
      }
    }
  }
}

/** Latest tweets **/

.latest-tweets {
  margin-top: 40px;
  h4 {
    padding: 0 0 10px 0;
    font-size: 30px;
    font-weight: 300;
    line-height: 34px;
  }
  p {
    font-size: 18px;
    line-height: 32px;
    word-wrap: break-word;
  }
  a {
    color: #fff;
    &:focus {
      color: #fff;
    }
    &:hover {
      color: #fff;
      border-bottom: 1px dotted #fff;
    }
  }
  ul {
    margin: 20px 0 0 0;
    padding: 0;
    -webkit-padding-start: 0;
  }
  li {
    margin: 0 5px;
    display: inline-block;
    list-style: none;
    .tweet_nav {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #fff;
      background: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -o-transition: all .3s;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s;
    }
  }
}

/***** How to contact us *****/

.contact {
  margin-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  h3 {
   font-family: 'Fugaz One', cursive;
    font-size: 50px;
    font-weight: 400;
    color: #555;
    line-height: 54px;
  }
  p {
    margin-top: 30px;
    padding: 0 120px;
    font-size: 22px;
    color: #888;
    line-height: 36px;
  }
}

.contact-form, .contact-address {
  padding-bottom: 80px;
}

.contact-form h4, .contact-address h4 {
  padding: 0 0 10px 0;
  font-size: 30px;
  font-weight: 300;
  color: #555;
  line-height: 34px;
}

.contact-form {
  p {
    margin: 15px 0 0 0;
    font-size: 18px;
    color: #888;
    line-height: 32px;
  }
  form {
    margin: 15px 0 0 0;
    input {
      width: 90%;
      height: 52px;
      margin-bottom: 5px;
    }
    textarea {
      width: 90%;
      height: 52px;
      margin-bottom: 5px;
      height: 162px;
    }
    button {
      width: 130px;
      height: 52px;
    }
    .contact-error {
      border-color: #ce749d;
    }
  }
}

.contact-address {
  .map {
    height: 210px;
    margin: 15px 0 40px 0;
  }
  p {
    margin-bottom: 5px;
    font-size: 18px;
    color: #888;
    line-height: 32px;
    i {
      padding-right: 15px;
      font-size: 24px;
      color: #ccc;
      vertical-align: middle;
    }
  }
}

/***** Footer *****/

footer {
  padding: 20px 0 16px 0;
  background: #3d3d3d;
}

.footer-copyright {
  p {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
  }
  a {
    color: #fff;
    border-bottom: 1px dotted #fff;
    &:hover {
      color: #fff;
      border: 0;
    }
  }
}

.footer-social {
  text-align: right;
}
